article {
	margin-top: 100vh;
	position: relative;
	width: 100%;
	z-index: 5;
	background-color: #fff;
	
	.about_us {
		display: block;
		width: 100%;
		height: 100vh;

		#content {
			display: flex;
			justify-content: space-around;
			width: 100%;
			height: 100%;

			#about_us {
				width: 0;
				height: 0;
				border: none;
				position: absolute;
			}

			.section__content {
				max-width: 45%;

				.section__header {
					.section__title {
						color: #bf9e7b;
						@include adaptive-value('margin-top', 90, 20, 1);
						@include adaptive-value('font-size', 56, 30, 1);
						@include adaptive-value('margin-bottom', 30, 20, 1);
						text-align: center;
					}
				}

				p {
					text-align: center;
					color: #808080;
					@include adaptive-value('font-size', 17, 10, 1);
					@include adaptive-value('margin-bottom', 40, 20, 1);
				}
			}

			aside {
				max-width: 45%;

				.contact_info {
					margin-top: -45%;
					width: 100%;
					background-color: #141723;
					color: #fff;

					@include adaptive-value('padding', 20, 10, 1);

					h3 {
						color: #bf9e7b;
						@include adaptive-value('font-size', 25, 15, 1);
					}

					p {
						@include adaptive-value('margin-top', 15, 10, 1);
						@include adaptive-value('margin-bottom', 15, 10, 1);
						@include adaptive-value('font-size', 13, 8, 1);
					}

					.addr {
						@include adaptive-value('margin-top', 15, 10, 1);
						h6 {
							@include adaptive-value('font-size', 15, 10, 1);
						}

						p {
							@include adaptive-value('font-size', 13, 8, 1);
							margin-bottom: 2px;
						}

						a {
							color: #bf9e7b;
							border: none;
							border-bottom: 1px solid #bf9e7b;
							@include adaptive-value('font-size', 13, 8, 1);
						}

						.open_hours {
							@include adaptive-value('margin-top', 15, 10, 1);
							h6 {
								@include adaptive-value('font-size', 15, 10, 1);
							}

							p {
								@include adaptive-value('font-size', 13, 8, 1);
								&.hours1 {

								}

								.hours2 {

								}
							}
						}

						.Reservation {
							display: block;
							margin: 0 auto;
							@include adaptive-value('margin-top', 20, 10, 1);

							@include adaptive-value('width', 171, 100, 1);
							@include adaptive-value('height', 43, 20, 1);
							@include adaptive-value('padding-top', 5, 5, 1);
							@include adaptive-value('padding-bottom', 10, 5, 1);
							border: 1px solid #be9d7a;

							a {
								text-align: center;
								border: none;
								@include adaptive-value('font-size', 15, 10, 1);
								color: #fff;
							}
						}
					}
				}

				.preview {
					margin-top: 20px;
					height: 60%;
					width: 100%;
					background-image: url('../../img/header/BG.jpg');
				}
			}
		}
	}

	.our_sepialities {
		margin-top: 50px;
		background-color: #4c4d4f;

		#content {
			.section__header {
				@include adaptive-value('margin-top', 65, 30, 1);
				.section__title {
					text-align: center;
					@include adaptive-value('font-size', 56, 30, 1);
					color: #fff;
				}

				.section__intro {
					display: block;
					margin: 0 auto;
					text-align: center;
					width: 70%;
					@include adaptive-value('margin-top', 25, 10, 1);
					@include adaptive-value('font-size', 15, 10, 1);
					font-weight: 700;
				}
			}

			.specs__menu {
				@include adaptive-value('margin-top', 40, 30, 1);
				display: flex;
				justify-content: space-around;
				margin: 0 auto;

				.specs__elem {
					position: relative;
					display: block;
					margin: 15px;
					@include adaptive-value('min-height', 160, 100, 1);

					.specs__preview {
						background-color: #141723;
						height: 70%;
						background-image: url("../../img/header/BG.jpg");

						img {
							display: none;
						}
					}

					.spec__about {
						display: block;
						width: 100%;
						height: 30%;
						background-color: #fff;
						padding: 20px 5px;

						p {
							text-align: center;
							color: #bf9e7b;
							@include adaptive-value('font-size', 15, 10, 1);
						}
					}
				}
			}
		}
	}

	.our_menu {
		height: 200vh;
		width: 100%;
		background-color: #141723;

		#content {
			padding: 0 20px;
			@include adaptive-value('padding-top', 60, 40, 1);

			.section__header {
				display: block;
				width: 100%;
				height: auto;
				
				.section__title {
					color: #bf9e7b;
					text-align: center;
					@include adaptive-value('font-size', 60, 30, 1);
				}

				.section__intro {
					margin: 0 auto;
					text-align: center;
					color: #fff;
					@include adaptive-value('margin-top', 30, 20, 1);
					@include adaptive-value('font-size', 15, 10, 1);
				}
				
			}

			div {
				height: 100vh;
				width: 100%;

				h1 {
					text-align: center;

					.decor_dots {

					}
				}

				div {
					display: grid;
					grid-template-rows: 4;
					grid-template-columns: 2;
					width: 100%;
					grid-gap: 15px;

					div {
						width: 50%;
					}
				}
			}

			.pizzas {
				@include adaptive-value('margin-top', 80, 40, 1);


				.menu__title {
					text-align: center;
					text-transform: uppercase;
					font-family: 'Raleway', sans-serif;
					font-weight: 600;

					.decor_dots {
						
					}
				}
				.pizzas__list {
					
				}
			}
		}
	}
}