article {
	margin-top: 100vh;
	position: relative;
	width: 100%;
	z-index: 5;
	background-color: #fff;

	#content {
		.about_us {
			#about_us {
				width: 0;
				height: 0;
				border: none;
			}

			.section__content {

			}

			aside {

				.contact_info {

				}

				.preview {
					background-image: url();
				}
			}
		}
		

		.our_sepialities {
			.section__header {

			}

			.specs__menu {
				display: flex;
				justify-content: space-around;

				.specs__elem {
					position: relative;
					display: block;
					margin: 15px;
				}
			}
		}

		.our_menu {
			height: 200vh;
			width: 100%;

			.section__header {
				display: block;
				margin: 0 auto;
			}

			div {
				height: 100vh;
				width: 100%;

				h1 {
					text-align: center;

					.decor_dots {

					}
				}

				div {
					display: grid;
					grid-template-rows: 4;
					grid-template-columns: 2;
					width: 100%;
					grid-gap: 15px;

					div {
						width: 50%;
					}
				}
			}

			.pizzas {
				

				.menu__title {
					
					.decor_dots {

					}
				}
				.pizzas__list {
					
				}
			}
		}
	}
}