// Размер макета
$MaketWidth: 1600;

// Максимальный поддерживаемый размер сайта
$SiteMaxWidth: 1920;

// Ширина контентного блока
$ContentMaxWidth: 941;

// Минимальная поддерживаемая ширина
$ContentMinWidth: 320;

@import "_mixins.scss";
@import "_zer0.scss";
@import "_preloader.scss";
@import "_fonts.scss";

h1 {
	font-family: 'Yesteryear', cursive;
}

a, p, h3, h6, h5, h4, h2 {
	font-family: 'Vollkorn', serif;
}

*,
*:after,
*:before {
	transition: all .3s ease 0s;
}

#wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	
	
}

#content {
	display: block;
	margin: 0 auto;
	max-width: $ContentMaxWidth+px;

	@include adaptive-value('padding', 20, 10, 1);
}

body {
	&.lock {
		overflow: hidden;
	}
}

@import "_nav.scss";
@import "_header.scss";
@import "_article.scss";
@import "_aside.scss";
@import "_footer.scss";
@import "_media.scss";